.app{
    background-image: url(https://wallpaperscraft.com/image/space_planets_asteroids_stars_belt_galaxy_93470_1920x1080.jpg);
    height: 150vh;
    color: white;
}
img {
    width: 250px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 10px;
    border-radius: 15%;
}
h1 {
text-align: center;
color:white;
}
h2 {
    color: white;
}
h3 {
    color:white;
}

header {
display: flex;
justify-content: space-around;
width: 100%;
height: 100px;
align-items: center;
}
.main_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.sell_div {
    display: flex;
    justify-content: space-around;
    width: 250px;
    align-items: center;
    margin-top: 5px;
}
button {
    width: 150px;
    margin: 5px;
}
input {
    width: 25px;
}
.userInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    align-items: center;
    width: 250px;
    margin-top: 50px;
}
.userInput {
    width: 150px;
    margin-top: 5px;
}
.inputLabel {
    margin-top: 5px;
}
.submit {
    width: 75px;
    margin-left: 10%;
}
.count {
    color: white;
}
.login_screen {
    display: flex;
    justify-content: center;
}
.logoutDiv {
    display: flex;
    justify-content: space-between
}
.headerButtons{
    display: flex;
    justify-content: center;
    width: 400px;
    flex-direction: row;
}
.logoutButton {
    width: 75px;
}
.editProfile {
    width: 100px;
}
.editInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: row;
}
.logoBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo {
    height: 40px;
    width: 50px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.deleteButton {
    height: 30px;
}
.deleteDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newPlayer {
    display: flex;
    flex-direction: column;
    align-items: center;
}